# Для всех платформ
PyGObject>=3.40
cairocffi>=1.3.0

# Для Linux (MPRIS)
pydbus>=0.6.0

# Для Windows (winrt и winsdk для Windows Media API; pywin32 как COM-резерв)
# Следующие строки можно оставить в requirements.txt, pip на других ОС просто их пропустит
winrt; platform_system == "Windows"
winsdk; platform_system == "Windows"
pywin32; platform_system == "Windows"

# Универсальные зависимости
requests>=2.25.0
